.About { 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

.Header { 
    margin-bottom: 6px;
}

.about-paragraph { 
    max-width: 900px; 
    margin: 18px auto; 
    text-align: left; 
    font-size: larger 
}

.card { 
    max-width: 1000px; 
    margin: 18px auto; 
    padding: 24px;
}

.Links { 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.Footer { 
    text-align: center; 
    margin-top: auto; 
}

@media (max-width: 768px) {
    .about-paragraph {
        font-size: 1rem;
        padding: 0 12px;
        margin: 12px auto;
        text-align: left;
    }

    .card {
        padding: 16px;
        margin: 12px;
    }
}